.result{
    position: absolute;
    top: 10%;
    left: 35%;
}
.re{
    position: absolute;
    /* bottom: 80%; */
    /* top: 5%; */
    left: 45%;
}
.points{
    position: absolute;
    top: 60%;
    left: 45%;
}